<html>
	<head>
		<title>andrewt.net / mobius # {{ page.title }}</title>
		<script type="text/javascript" src="sylvester/src/sylvester.js"></script>
		<script type="text/javascript" src="sylvester/src/matrix.js"></script>
		<script type="text/javascript" src="script.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
	</head>
	<body data-topology="{{ page.topology }}">
		<div class="main">{{ content }}</div>
		<div class="main">{{ content }}</div>
		<div class="main">{{ content }}</div>
		<div class="main">{{ content }}</div>
		<div id="buffer"></div>
	</body>
</html>
